html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSansRegular"),
    url("../fonts/OpenSansRegular.woff2") format("woff2"),
    url("../fonts/OpenSansRegular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Light"),
    url("../fonts/OpenSansLight.woff2") format("woff2"),
    url("../fonts/OpenSansLight.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-SemiBold"),
    url("../fonts/OpenSansSemiBold.woff2") format("woff2"),
    url("../fonts/OpenSansSemiBold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    min-width: 1200px;
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
}

/* glob */
.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* добавилось описание кнопки еще одно (до этого описывали в header), в секции продивнутый css */
.btn {
    position: relative;
    outline: none;
    border-radius: none;
    padding: 16px 35px;
    font-family: inherit;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    background-color: #3172B9;
    transition: background-color 0.3s ease-in-out;
}

.btn::after {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    border-radius: inherit;
    border: 1px solid #3172B9;
    outline: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.btn:focus::after {
    opacity: 1;
}

.btn:hover {
    background-color: #71A7E2;
}

.btn:active {
    background-color: #0E3B6C;
}

.btn:active::after {
    opacity: 0;
}

.flex {
    display: flex;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-title {
    margin: 0;
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 300;
    line-height: 130%;
}

.section-descr {
    margin: 0;
    margin-bottom: 50px;
    font-size: 16px;
    line-height: normal;
    color: #787878;
}

.section-offset {
    padding-top: 87px;
    padding-bottom: 160px;
}

/* header */
.header {
    padding: 36px 0;
    border-bottom: 1px solid #C4C4C4;
    background-color: #fff;
}

.header-link {
    position: relative;
    font-weight: 600;
    color: #1C1C1C;
    font-size: 15px;
    transition: color 0.3s ease-in-out;
}

.header-link:focus {
    outline-offset: 2px;
    outline: 1px solid #71A7E2;
}

.header-link:hover {
    color: #71A7E2;
}

.header-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3172B9;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header-link:active {
    color: #3172B9;
    outline: none;
}

.header-link:active::after {
    opacity: 1;
}

.header-container {
    align-items: center;
}

.header-logo {
    margin-right: auto;
}

.header-nav {
    margin-right: 52px;
}

.header-list {
    column-gap: 52px;
}

.btn {
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 35px;
    background: #3172B9;
    color: #FFF;
    border-radius: 3px;
}

/* header */

/* hero */
.hero {
    padding-top: 100px;
    padding-bottom: 150px;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-content {
    max-width: 50%;
    flex-direction: column;
    align-items: flex-start;
}

.hero-title {
    margin: 0;
    margin-bottom: 25px;
    color: #1C1C1C;
    font-size: 40px;
    font-weight: 300;
    line-height: 130%;
}

.hero-descr {
    margin: 0;
    margin-bottom: 34px;
    width: 471px;
    color: #787878;
    font-size: 16px;
    line-height: 155%; 
}

.hero-wrapper {
    flex-direction: column;
    align-items: center;
}

.hero-btn {
    margin-bottom: 14px;
    min-width: 250px;
    padding: 20px 0;
}

.hero-secure {
    font-size: 11px;
    line-height: 155%;
    color: #787878;
    text-transform: uppercase;
    background-image: url("../images/secure.svg");
    background-position: left center;
    background-size: 14px 17px;
    background-repeat: no-repeat;
    padding-left: 30px;
}
/* hero */

/* services */
.services {
    border-bottom: 1px solid #DADADA;
}

.services-title {
    text-align: center;
}

.services-descr {
    text-align: center;
}

.services-item {
    flex-direction: column;
    align-items: center;
    padding: 60px 30px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    transition: background-color 0.4s ease-in-out, border-color 0.2s ease-in-out;
}

.services-item:hover {
    border-color: #3172B9;
    background-color: #3172B9;
}

.services-items {
    column-gap: 30px;
}

.services-item-icon {
    fill: #3172B9;
    margin-bottom: 25px;
    transition: fill 0.3s ease-in-out;
}

.services-item:hover .services-item-icon {
    fill: #fff;
}

.services-item-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    color: #1C1C1C;
    transition: color 1.3s ease-in-out;
}

.services-item:hover .services-item-title {
    color: #fff;
}

.services-item-descr {
    margin: 0;
    text-align: center;
    font-size: 14px;
    line-height: 150%;
    color: #787878;
    transition: color 2.3s ease-in-out;
}

.services-item:hover .services-item-descr {
    color: #fff;
}

/* services */

/* articles */
.articles {
    border-bottom: 1px solid #DADADA;
}

.article-list {
    flex-wrap: wrap;
    column-gap: 30px;
}
.articles-item {
    width: 570px;
    margin-bottom: 30px;
}

.blog-preview {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
}

.blog-preview-image {
    object-fit: cover;
}

.blog-preview-text {
    padding: 30px;
}

.blog-preview-time {
    display: block;
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 150%;
    color: #787878;
    transition: color 0.3s ease-in-out;
}

.blog-preview-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 130%;
    transition: color 0.3s ease-in-out;
}

.blog-preview-descr {
    margin: 0;
    max-width: 210px;
    color: #787878;
    font-size: 14px;
    line-height: 150%;
    transition: color 0.3s ease-in-out;
}

.blog-preview-link {
    position: relative;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
}

.blog-preview-link:focus {
    background-color: #71A7E2;
}

.blog-preview-link:focus .blog-preview-title {
    color: #fff;
}

.blog-preview-link:focus .blog-preview-descr {
    color: #fff;
}

.blog-preview-link:focus .blog-preview-time {
    color: #fff;
}

.blog-preview-link:hover {
    background-color: #3172B9;
}

.blog-preview-link:hover .blog-preview-title {
    color: #fff;
}

.blog-preview-link:hover .blog-preview-descr {
    color: #fff;
}

.blog-preview-link:hover .blog-preview-time {
    color: #fff;
}

.blog-preview-link:active {
    background-color: #0E3B6C;
}

.blog-preview-link:active .blog-preview-title {
    color: #fff;
}

.blog-preview-link:active .blog-preview-descr {
    color: #fff;
}

.blog-preview-link:active .blog-preview-time {
    color: #fff;
}

/* articles */

/* clients */
.clients {
    border-bottom: 1px solid #DADADA;
}

.clients-item {
    flex-direction: column;
    width: 370px;
    padding: 50px 36px;
    padding-bottom: 30px;
    border: 1px solid #E4E4E4;
}

.clients-list {
    column-gap: 30px;
}

.clients-item-descr {
    margin: 0;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 180%;
    color: #787878;
}

.clients-user {
    margin-top: auto;
    align-items: center;
    border-top: 1px solid #E4E4E4;
    width: 100%;
    padding-top: 28px;
}

.clients-avatar {
    flex-shrink: 0;
    width: 67px;
    margin-right: 17px;
}

.clients-avatar img {
    width: 100%;
    height: 100%;
    border: 2px solid #3172B9;
    border-radius: 100%;
}

.clients-name {
    margin-bottom: 5px;
    font-size: 17px;
    line-height: 180%;
    font-weight: 600;
}

.clients-post {
    color: #787878;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
}
/* clients */

/* contacts */
.contacts {
    border-bottom: 1px solid #DADADA;
}

.contacts-address {
    font-style: normal;
}

.contacts-item {
    flex-direction: column;
    width: 370px;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 29px 29px;
    padding-top: 48px;
}

.contacts-item-address {
    background-image: url("../images/location_on.svg");
}

.contacts-item-call {
    background-image: url("../images/phone.svg");
}

.contacts-item-mail {
    background-image: url("../images/mail.svg");
}

.contacts-list {
    column-gap: 30px;
}

.contacts-item-caption {
    margin-bottom: 30px;
    font-size: 17px;
    font-weight: 600;
    line-height: 180%;
}

.contacts-item-text {
    margin: 0;
    color: #787878;
    max-width: 215px;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
}

.contscts-item-link {
    font-size: 14px;
    line-height: 180%;
    color: #787878;
    transition: color 0.3s ease-in-out;
}

.contscts-item-link:focus {
    outline: 1px solid #71A7E2;
}

.contscts-item-link:hover {
    color: #71A7E2;
}

.contscts-item-link:active {
    outline: none;
    color: #0E3B6C;
}

/* contacts */

/* join-us */
.join-us {
    border-bottom: 1px solid #DADADA;
}

.join-us-title {
    text-align: center;
}

.join-us-descr {
    text-align: center;
    margin-bottom: 30px;
}

.form {
    padding: 0 55px;
}

.form-input {
    border-radius: 50px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    padding: 16px 28px;
    width: 251px;
    height: 60px;
    transition: background-color 1.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-input:focus {
    outline: none;
    border-color: #71A7E2;
    background-color: rgba(113, 167, 226, 0.20);
}

.form-input:hover {
    border-color: #71A7E2;
}

.form-input:active {
    border-color: #0E3B6C;
}

.form-select {
    border-radius: 50px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    padding: 16px 28px;
    width: 251px;
    height: 60px;
    transition: background-color 1.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-select:focus {
    outline: none;
    border-color: #71A7E2;
    background-color: rgba(113, 167, 226, 0.20);
}

.form-select:hover {
    border-color: #71A7E2;
}

.form-select:active {
    border-color: #0E3B6C;
}

.form-textarea {
    border-radius: 20px;
    border: 1px solid #DADADA;
    box-sizing: border-box;
    resize: none;
    padding: 16px 28px;
    width: 100%;
    height: 100%;
    transition: background-color 1.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-textarea:focus {
    outline: none;
    border-color: #71A7E2;
    background-color: rgba(113, 167, 226, 0.20);
}

.form-textarea:hover {
    border-color: #71A7E2;
}

.form-textarea:active {
    border-color: #0E3B6C;
}

.form-top {
    justify-content: space-between;
    margin-bottom: 19px;
}

.form-left {
    width: 49%;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 19px;
}

.form-right {
    width: 49%;
}

.form-bottom {
    justify-content: end;
}

.form-btn {
    min-width: 230px;
    border-radius: 50px;
    padding: 20px 0;
}

.form-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 9px;
}
.form-check {
    color: #787878;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.form-check input {
    margin-right: 8px;
}

.form-check a {
    color: #3172B9;
    text-decoration-line: underline;
}

/* join-us */

/* footer */
.footer {
    padding: 42px 0;
}

.footer-copy {
    color: #787878;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
}

.footer-link{
    color: #787878;
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    transition: color 0.3s ease-in-out;
}

.footer-link:focus {
    outline-offset: 2px;
    outline: 1px solid #71A7E2;
}

.footer-link:hover {
    color: #71A7E2;
}

.footer-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #3172B9;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.footer-link:active {
    color: #3172B9;
    outline: none;
}

.footer-link:active::after {
    opacity: 1;
}

.footer-container {
    align-items: center;
    justify-content: space-between;
}

.footer-left,
.footer-right {
    align-items: center;
}

.footer-logo {
    margin-right: 25px;
}

.footer-list {
    column-gap: 28px;
}

.social-link {
    display: block;
    width: 24px;
    height: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-link-tw {
    background-image: url("../images/twitter-logo.svg");
}

.social-link-linkedin {
    background-image: url("../images/linkedin-logo.svg");
}

.social-link-mail {
    background-image: url("../images/mail-logo.svg");
}

.social {
    margin-left: 52px;
    column-gap: 32px;
}
/* footer */